<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>FunGa Java 札记</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/prism.css">
</head>
<body>
<a href="../index.html"><div class="container my-page-logo"></div></a>
<div class="my-page-header">
</div>

<div class="container">
    <div class="col-sm-8">
        <div class="post-full">
            <div class="post-header">
                <h3>{{post-title}}</h3>
                <div>
                    <span class="label label-info">{{post-type}}</span>
                    <span class="label label-default">{{post-date}}</span>
                </div>
                <div class="bdsharebuttonbox pull-right"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_qingbiji" data-cmd="qingbiji" title="分享到轻笔记"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_youdao" data-cmd="youdao" title="分享到有道云笔记"></a><a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a></div>
                <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
            </div>
            <div class="post-content">
                {{post-content}}
            </div>
            <script>
            var mediav_ad_pub = 'P80XGP_1367668';
            var mediav_ad_width = '726';
            var mediav_ad_height = '90';
            </script>

            <script type="text/javascript" language="javascript" charset="utf-8"  src="http://static.mediav.com/js/mvf_g2.js"></script>

            <div class="post-comment">
                <!-- 多说评论框 start -->
                <div class="ds-thread" data-thread-key="{{post-title}}" data-title="{{post-title}}" data-url="http://funga.cn/post/{{post-title}}-{{post-date}}.html"></div>
                <!-- 多说评论框 end -->
                <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                <script type="text/javascript">
                    var duoshuoQuery = {short_name:"fungablog"};
                    (function() {
                        var ds = document.createElement('script');
                        ds.type = 'text/javascript';ds.async = true;
                        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                        ds.charset = 'UTF-8';
                        (document.getElementsByTagName('head')[0]
                        || document.getElementsByTagName('body')[0]).appendChild(ds);
                    })();
                </script>
                <!-- 多说公共JS代码 end -->
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="side-bar">
<!--            <div class="side-box">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="多个关键字使用空格隔开">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">搜索</button>
                      </span>
                </div>&lt;!&ndash; /input-group &ndash;&gt;
            </div>-->
            <div class="side-box">
                <div class="side-title">热评文章</div>
                <!-- 多说热评文章 start -->
                <div class="ds-top-threads" data-range="monthly" data-num-items="5"></div>
                <!-- 多说热评文章 end -->
                <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                <script type="text/javascript">
                    var duoshuoQuery = {short_name:"fungablog"};
                    (function() {
                        var ds = document.createElement('script');
                        ds.type = 'text/javascript';ds.async = true;
                        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                        ds.charset = 'UTF-8';
                        (document.getElementsByTagName('head')[0]
                        || document.getElementsByTagName('body')[0]).appendChild(ds);
                    })();
                </script>
                <!-- 多说公共JS代码 end -->
            </div>
            <div class="side-box">
                <script>
                var mediav_ad_pub = 'asdUMg_1275501';
                var mediav_ad_width = '300';
                var mediav_ad_height = '250';
                </script>

                <script type="text/javascript" language="javascript" charset="utf-8"  src="http://static.mediav.com/js/mvf_g2.js"></script>

            </div>
        </div>
    </div>
</div>


<div class="my-page-footer">
    <div class="container footer-">
        <div class="col-sm-4">
            <h4>站点说明</h4>
            <p>本站为个人IT博客,大部分博文属于个人原创,兼转载收集少量质量上佳文章.如需转载本站文章请注明原文出处与链接,同时,如果本站侵犯了您的权益,请及时联系告知,本站第一时间处理.</p>
        </div>
        <div class="col-sm-4">
            <h4>社交账号</h4>
            <p>
                邮箱 : <a href="mailto:funga@sina.cn">funga@sina.cn</a><br>
                微博 : <a href="http://weibo.com/funga">FunGa黄佳</a>
            </p>
        </div>
        <div class="col-sm-4">
            <h4>友情链接</h4>
            <p>
                <a href="https://github.com">github</a>
                <a href="http://mi.com">小米网</a>
            </p>
        </div>
    </div>
    <div class="copy-right">
        ©2015 京ICP备15032849号-3 FunGa IT 札记
    </div>
</div>

<script rel="script" src="../static/js/prism.js"></script>
</body>
</html>
